# Build output:
/.nyc_output/
/android/.gradle
/android/*.jar
/android/src/main/assets/edge-currency-accountbased/
/cli/.storage/
/dist/
/lib/
/scripts/cosmos-ts-protos/proto

# Package managers:
node_modules/
npm-debug.log
package-lock.json
yarn-error.log
stats.json
testConfig.json
results.json

# Editors:
.DS_Store
.idea/
.vscode/
