# Build output:
/.nyc_output/
/android/*.jar
/android/src/main/assets/edge-currency-accountbased/
/dist/
/lib/

# Package managers:
node_modules/
npm-debug.log
package-lock.json
yarn-error.log
stats.json

# Editors:
.DS_Store
.idea/
.vscode/
